USE [master]
GO
/****** Object:  Database [SongsRepo]    Script Date: 1/29/2024 9:39:45 AM ******/
CREATE DATABASE [SongsRepo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SongsRepo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\SongsRepo.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SongsRepo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\SongsRepo_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SongsRepo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SongsRepo]
GO
/****** Object:  Table [dbo].[Album]    Script Date: 1/29/2024 9:39:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Album](
	[albumID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](255) NULL,
	[artistID] [int] NOT NULL,
	[AlbumArt] [varchar](255) NULL,
	[ReleaseYear] [smallint] NULL,
PRIMARY KEY CLUSTERED 
(
	[albumID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Artist]    Script Date: 1/29/2024 9:39:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Artist](
	[artistID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[artistID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Member]    Script Date: 1/29/2024 9:39:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Member](
	[memberID] [int] IDENTITY(1,1) NOT NULL,
	[firstName] [varchar](255) NULL,
	[lastName] [varchar](255) NULL,
	[artistID] [int] NOT NULL,
	[stageName] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[memberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Song]    Script Date: 1/29/2024 9:39:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Song](
	[songID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](255) NULL,
	[artistID] [int] NOT NULL,
	[Genre] [varchar](255) NULL,
	[Length] [varchar](255) NULL,
	[albumID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[songID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Album]  WITH CHECK ADD FOREIGN KEY([artistID])
REFERENCES [dbo].[Artist] ([artistID])
GO
ALTER TABLE [dbo].[Member]  WITH CHECK ADD FOREIGN KEY([artistID])
REFERENCES [dbo].[Artist] ([artistID])
GO
ALTER TABLE [dbo].[Song]  WITH CHECK ADD FOREIGN KEY([albumID])
REFERENCES [dbo].[Album] ([albumID])
GO
ALTER TABLE [dbo].[Song]  WITH CHECK ADD FOREIGN KEY([artistID])
REFERENCES [dbo].[Artist] ([artistID])
GO
USE [master]
GO
